<app-map (countryEvent)="receiveCountry($event)"></app-map>

<div *ngIf="game.isRunning; else endGame">

  <div *ngIf="!game.isPaused; else waitForNext">
    <p>Question n° {{ game.currentQuestion }} of {{ game.totalQuestion }}</p>
    <p class="score">Score: {{ game.score }}</p>
    <br>
    <p *ngIf="countryToGuess">Where is {{ countryToGuess }}?</p>
  </div>

  <ng-template #waitForNext>

    <div *ngIf="goodAnswer; else badAnswer" class="callout success">
        <p>Good answer!</p>
    </div>
    <ng-template #badAnswer>
      <div class="callout alert">
        <p>Wrong answer</p>
      </div>
      <p>Good anwser was {{ prevCountryToGuess }}</p>
    </ng-template>

    <p *ngIf="selectedCountry">You selected {{ selectedCountry }}</p>

    <button (click)="nextQuestion()" class="button small coral">Next ></button>

  </ng-template>

</div>

<ng-template #endGame>
  <div>
    <p>Your final score is <strong>{{ game.score }}</strong> out of {{ game.totalQuestion }}</p>
  </div>
</ng-template>
